html {
    font-size: 62.5%;
}

body {
    padding: 3rem;
    font-size: 16px;  /* 1rem = 10px */
}

:root {
    /* CUSTOM PROPERTIES */
    --amarillo: #fed428;
    --café: #472206;
    --blanco: #ffffff;
    --negro: #000000;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

header {
    height: 40rem;
    width: 100%;
    background-color: aqua;
    display: flex;
   
    margin-bottom: 30px;


 

}



/*==================================================
 * Effect 6
 * ===============================================*/
 .effect6
 {
     position:relative;
     -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
             box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
 }
 .effect6:before, .effect6:after
 {
   content:"";
     position:absolute;
     z-index:-1;
     -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
     -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
     box-shadow:0 0 20px rgba(0,0,0,0.8);
     top:50%;
     bottom:0;
     left:10px;
     right:10px;
     -moz-border-radius:100px / 10px;
     border-radius:100px / 10px;
 }
 .effect6:after
 {
   right:10px;
     left:auto;
     -webkit-transform:skew(8deg) rotate(3deg);
        -moz-transform:skew(8deg) rotate(3deg);
         -ms-transform:skew(8deg) rotate(3deg);
          -o-transform:skew(8deg) rotate(3deg);
             transform:skew(8deg) rotate(3deg);
 }
 


#name {
    display: flex;
    justify-content: end;
    height: 100%;
    width: 40%;
    background-color: var(--amarillo);
  
  
}

#name > article {
    align-content: end;
    justify-content: center;
    align-items: end;
    font-size: 40px;
    height: 75%;
    width: 50%;


    background-color: var(--café);
}

     @media (max-width: 1030px) {
    #name > article {
   
        width: 80%;
    
    
    }
  } 

  
  @media (max-width: 888px) {
    #name > article {
   
        width: 80%;
    
    
    }
  } 

  @media (max-width: 616px) {
    #name > article {
   
        width: 100%;
    
    
    }
  } 




 h2{
    font-size: 20px;
     @media (max-width: 1030px) {
    #name > article {
   
        width: 80%;
    
    
    }
  } 

  
  @media (max-width: 888px) {
    #name > article {
   
        width: 80%;
    
    
    }
  } 

  @media (max-width: 616px) {
    #name > article {
   
        width: 100%;
    
    
    }
  } 




 h2{
    font-size: 20px;
    animation-name: movenInLeft; /* Aquí se define correctamente el nombre de la animación */
    animation-duration: 3s;
}


.nombre{

font-size: 30px;

}

.work > h2 {
    font-size: 30px; 
}
.apellido{
    font-size: 30px;
}



.work{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

    height: 25%;
    width: 100%;
    background-color: var(--amarillo);
    color: var(--negro);

}


@keyframes movenInLeft {
    0% {
      opacity: 0;
      transform: translateX(-40px);
    }
    80% {
      transform: translateX(40px);
      transform: translateX(40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
    }
    
    
    
    
    
.nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
    background-color: var(--café);
    color: var(--amarillo);
}

.apellido{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
    background-color: var(--café);
    color: var(--blanco);
}

#picture {
    height: 100%;
    width: 20%;
    background-color: rgb(200, 199, 185);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
background-image: url("../imgs/mark.jpg");
background-repeat: no-repeat;
background-size: cover;

    }


#info {
display: flex;
    align-items: center;

    height: 100%;
    width: 40%;
    background-color: var(--amarillo);
      /* shadown */
      /* shadown */

}

#info > article {

    align-items: center;
    height: 50%;
    width: 80%;
    background-color: rgb(233, 20, 20);
    margin-bottom: 50px;
}


.info-container{
    display: flex;
/* 
    margin: 10px 0px; */
padding: 10px 0px;

    height: 33.33%;
width: 100%;
background-color:var(--amarillo)
background-color:var(--amarillo)

}




.icon-place{

    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px ;
    height: 100%;
    width: 8rem;
    background-color: var(--blanco);
    margin-right: 2rem;
}


@media (max-width: 599px) {
  
      
        .icon-place {
    width: 5rem;
    }
  } 



@media (max-width: 599px) {
  
      
        .icon-place {
    width: 5rem;
    }
  } 


.info-place{


    width: 100%;
    height: 100%;
    background-color: #0e161d;



}

.head-place{
    display: flex;

    align-items: center;

background-color: var(--amarillo);
height: 50%;
width: 100%;


}






/* 
RESPONSIVE WEB DESIGNE

--MEDIA QUERIES
Sintaxis

@media (min-width: 768){



}

@media (min-with: 9992){


} */

/* --Lo que esté fuera del media query se aplica desde los 40px */
/* 
--Unestandar para el minimo es 480px */
@media(min-width: 480px){



}

@media(min-width: 768px){



}


