.main-class{

background-color: rgb(58, 38, 38);
height: 120rem;


}


.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: auto auto ;
    background-color: var(--blanco);
  
  }
  .grid-item {
    background-color: var(--blanco);
    padding: 20px;
    text-align: center;
  }


  .lorem-2-2{
    height: 100%;
    width: 100%;
    background-color: black;
  }



@media (max-width: 850px) {



.grid-item {
    background-color: var(--blanco);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 35px;


}


    .grid-container {
      background-color: black;
        grid-template-columns: auto  ;
      
      }

      .nombre{
        font-size: 30px;
      }
      .apellido{
      font-size:   30px;
      }
  
      #name > articule {
width: 100%;

      }

      .nombre{

        font-size: 20px;
      }
.apellido{
    font-size: 20px;
}


.rote-font-text > h4{

    font-size: 14px;


}     


  } 

  /* NOMBRES DE BOTONES */













/* DIV QUE TIENE EL DIV DERECHO E IZQUIERDO */









/* DIV QUE TIENE EL DIV IZQUIERDO */
.main-izquierdo{


  
    height: 120rem;
width: 50%;
background-color: var(--blanco);
}

 /* DIV QUE TIENE EL DIV DECRECHO */
.main-derecho{

    height: 120rem;
    width: 50%;
    background-color: rgb(181, 41, 41);


}


/* DIV GERERALES PARA  */
.main-izquierdo-divs{
    display: flex;
    justify-content: center;
    align-items: center;

align-items: center;
width: 100%;
height: 100%;

/* background-color: aqua; */

background-color: var(--blanco);
}

 .main-izquierdo-1{
display: flex;

width: 95%;
height: 90%;
background-color: var(--blanco);
/* background-color: var(--blanco); */
}






.roted-font{
/* display: flex;
justify-content: center;
align-items: end; */
margin-right: 20px;
height: 100%;
width: 15%;
/* width: 10%; */
background-color: var(--amarillo);


}

.rote-font-text{
    display: flex;
    align-items: center;
justify-content: center;
width: 100%;
height: 90%;
/* background-color: rgb(97, 126, 246); */
background-color: var(--blanco);

}

h4{
    font-size: 3rem;
    align-items: center; 


    transform: rotate(-90deg); 
   transform: rotate(-90deg);

}


.cuadro-roted-font{

width: 100%;
height: 50px;
/* background-color: red; */
background-color: var(--amarillo);
}

.lorem-container{
display: block;

    width: 85%;
    height: 100%;
    /* background-color: antiquewhite; */
    background-color: var(--blanco);
}


.lorem-1{
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: rgb(135, 155, 155); */
    background-color: var(--blanco);
    height: 40%;
    width: 100%;
}

.lorem-2{
    display: flex;
    align-items: end;
  
    justify-content: space-around;
    /* PUEDE QUE SEA CENTER */
    /* background-color: rgb(116, 181, 36); */
    background-color: var(--blanco);
    height: 40%;
    width: 100%;
}
.lorem-2-2{

 
  
    justify-content: space-around;
    /* PUEDE QUE SEA CENTER */
    /* background-color: rgb(116, 181, 36); */
    background-color: var(--blanco);
    height: 45%;
    width: 100%;
}


.lorem-2-icon{
    display: flex;
    align-items: center;
    justify-content: center;
border-radius: 50%;
width: 20%;
height: 50%;
/* background-color: blue; */
background-color: var(--amarillo);

}

.lorem-2-description{
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    /* background-color: yellow; */
    background-color: var(--blanco);
    height: 40px;
    width: 100%;
}

h5{


    font-size: 12px;
} 


/* SEGUNDO ESTILO DE DIVS */

.segunda-seccion{

    height: 100%;
    width: 100%;
    background-color: aquamarine;
        
    }
    
    .swee{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 33.33%;
    background-color: bisque;
    align-items: center;
    border-bottom: 2px solid black;
    padding-bottom: -2px;
    
    }
    
    .fecha{
    height: 100%;
    width: 40%;
    background-color: blue;
    
    }
    
    .valor{
        background-color: var(--blanco);
        height: 100%;
        width: 60%;
    }
    
    
    .dentro{
        display: flex;
        justify-content: center;
        align-items: center;
    height: 50%;
    width: 100%;
    background-color: var(--blanco);
    
    }


/* 
    ULTIMA FILA */

.last-row{
height: 100%;
width: 100%;
background-color: rgb(19, 17, 17);



}

.last-row-header{
    height: 50%;
    width: 100%;
    background-color: rgb(151, 117, 117);

}

.lorem-2-2-3{
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
  height: 100%;
  width: 100%;
  /* background-color: black; */
  background-color: var(--blanco);
}

.progress-coonteiner{
align-items: center;
margin-top: 60px;
  height: 100%;
  width: 90%;
  /* background-color: aqua; */
  background-color: var(--blanco);
}

.label{
font-weight: bold;
width: 100%;
background-color: rgb(237, 122, 122);
display: flex;
}

#file{
width: 100%;
  margin-top: 0px;
}

.progress-bar{

  width: 100%;
  height: 10px;
}

.progress{

width: 0%;
height: 100%;
background-color: brown;

}

/* 
ESTILO DE BARRA DE PROGRESO  */
#myProgress {
  width: 100%;
  background-color: #ddd;
  border: 1px solid black;
}


#rubyOnRails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 30px;
  background-color: #cc0000;
  text-align: center;
  line-height: 30px;
  color: white;
}

.unique1:hover{
  background-color: #e40505;


}

.unique2:hover{
  background-color: #3791ea;


}


.unique3:hover{
  background-color: rgb(97, 95, 95);


}



#typescript {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 30px;
  background-color: #2d79c7;
  text-align: center;
  line-height: 30px;
  color: white;
}

#react {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 30px;
  background-color: #00d8ff;
  text-align: center;
  line-height: 30px;
  color: #00d8ff;
}

.unique1{
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: #cc0000;
  color: var(--blanco);
  border-radius: 5px;
}

.unique2{
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: #2d79c7;
  color: var(--blanco);
  border-radius: 5px;
}

.unique3{
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color:var(--negro);
  color: #00d8ff;
  border-radius: 5px;
}

@media (max-width: 376px) {
  .cuadro-roted-font{
      height: 37px;
      margin-bottom: -6px;

  }
  .rote-font-text > h4{
    
      font-size: 16px;
      color:black;
      background-color: var(--amarillo);
  }

  .rote-font-text{
    height: 100%;
     font-size: 16px;
     color:black;
     background-color: var(--amarillo);
     align-items: end;
   }
   .roted-font {
    margin-right: 20px;
    height: 89%;
   }
   

   .lenguajes{

    display: flex;
    justify-content: center;
    
    
    
    }
}


/* LOGO LENGUAJES */
.logo-lenguajes{
    height: 80%;
    width: 80%;

}










/* //////// */


.progress-color{

  height: 100%;
  width: 0%;
  background-color: #f88a71;
}


/* 
LENGUAJES */

.lenguajes{

  display: flex;
}


.last-last{
width: 100%;

height: 50%;
background-color: #cc0000;

}

.last-icons{

  display: flex;
  align-items: center;
justify-content: space-around;

  height: 100%;
  width: 100%;
  background-color: var(--blanco);
}

.icons-last{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 20%;
  background-color: var(--blanco);
}









