html {
    font-size: 62.5%;
}

body {
    font-size: 16px;  /* 1rem = 10px */
}

:root {
    /* CUSTOM PROPERTIES */
    --amarillo: #fed428;
    --café: #472206;
    --blanco: #ffffff;
    --negro: #000000;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

header {
    height: 40rem;
    width: 100%;
    background-color: aqua;
    display: flex;
}

#name {
    display: flex;
    justify-content: end;
    height: 100%;
    width: 40%;
    background-color: var(--amarillo);
}

#name > article {
    align-content: end;
    justify-content: center;
    align-items: end;
    font-size: 40px;
    height: 75%;
    width: 50%;
    background-color: var(--café);
}

.nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
    background-color: var(--café);
    color: var(--amarillo);
}

.apellido{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
    background-color: var(--café);
    color: var(--blanco);
}

.work{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
    background-color: var(--amarillo);
    color: var(--negro);

}
#picture {
    height: 100%;
    width: 20%;
    background-color: rgb(200, 199, 185);
}



#info {
    display: flex;
    align-items: center;
    height: 100%;
    width: 40%;
    background-color: var(--amarillo);
}

#info > article {
    height: 50%;
    width: 80%;
    background-color: red;
}

.telfono{

    height: 33.33%;
    width: 100%;
    background-color: aqua;

}
/* .redSocial{

    
    height: 33.33%;
    width: 100%;
    background-color: rgb(166, 35, 168);

} */

.sitioWeb{

    height: 33.33%;
    width: 100%;
    background-color: rgb(41, 252, 45);

}


main {
    height: 120rem;
    background-color: chartreuse;
}

.personal-information{
    height: 33.33%;
    width: 100%;
  background-color:;


}



/* MAIN GRID */

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    height: 100%;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 100%;
    
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }