html{
font-size: 62.5%;

}

body{
    /* 1rem = 10px */
font-size: 16px; 




}



/* 

CUSTOM PROPERTIES  */

:root{
    
    --amarillo: #fed428;
    --café: #472206;
--blanco: #ffffff;


    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

